/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Color Pallete 
#1D2951
#FFFFF0
#354230
#007BA7
*/

/* Customizations */

*,
*::before,
*::after {
    box-sizing: border-box;

}

/* General */

/* Flex Property */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* header */
.header {
    height: 72px;
    background-color: #1D2951;
    padding: 20px;
}

.header a {
    text-decoration: none;
    color: #FFFFF0;

}

.brand {
    font-family: 'DM Serif Display', serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Poiret One', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 48px;
    text-transform: uppercase;

}

.profile-menu a {
    margin-left: 20px;
    color: #007BA7;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profile-menu img {
    flex: 1 1 50px;
    justify-content: space-around;
}


/* Body */

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Side Pane (Left) */
.left-pane {
    background-color: #a7ceee;
    text-align: center;
   max-width:20vw;
    height: 80vh;
    border-radius: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.left-pane a {
    text-decoration: none;
    text-transform: capitalize;
    color: #070735;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.nav {
    line-height: 3;
    text-align: left;
    margin-left: 30px;
}

.logout {
    margin: 20px;
    padding: 20px;
}


/* Article */

.art {
    display: flex;
    flex-wrap: wrap;

}

.article {
    background-color: #e3edf4;
    max-width: 60vw;
    height: 80vh;
    border-radius: 30px;
    margin: 20px 0;
    flex: 0 5 30%;


}

.article img {
    width: 100%;
    /* height: auto; */
    border-radius: 30px;
    padding: 20px;

}

.article p {
    font-size: 18px;
    color: #0b0b44;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    padding: 10px;
}

h2 {
    text-align: left;
    padding: 5px;
    font-size: 42px;
    font-weight: 800;
    text-transform: capitalize;
    color: #030320;
    font-family: 'DM Serif Display', serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Poiret One', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Vollkorn', serif;
}

.active {
    border: #ec8548 3px solid;
    border-radius: 10px;
    max-width: 80%;
    margin-left: 10px;
    padding: 0 20px;


}

.active a {
    color: #ec8548;
}


.read-more a {
    color: white;
    text-decoration: none;
    font-size: medium;

}

.read-more {
    background-color: green;
    border-radius: 20px;
    max-width: fit-content;
    margin-left: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

/* Footer */

.footer{
    height: 72px;
    background-color: #1D2951;
    color: white;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.footer a{
    font-size: 18px;
    text-decoration: none;
    padding:10px;
}